.box-hold{
    text-align: center;
    border: 0.7px solid #1e1815;
    border-radius: 10px;
    padding: 50px;
    background-color: #6C4A3F
}

input{
    width: 100%;
    padding: 10px;
    border: 2px solid #634439;
    border-radius: 5px;
    background-color: rgb(121, 97, 89);
}
::placeholder {
    color: rgb(187, 168, 168);
  }

.btn{
    width: 30%;
}
body{
    background-color: #b7db89;
    background-image: url("../assets/images/tree.png");
    background-repeat: no-repeat;

}

svg {
    display: block;
    position: sticky;
    top: 20px;
}

